<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.ucsf.fetus.ftcmobileapp" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="orientation" value="portrait" />
    <name>UCSF Fetal Treatment Center</name>
    <description>
        App for referring physicians of the UCSF Fetal Treatment Center
    </description>
    <author email="colin.fahrion@ucsf.edu" href="http://fetus.ucsfmedicalcenter.org">
        Colin Fahrion
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="res/icon.png" />
    <splash src="res/splash.png" />
    <platform name="ios">
        <icon height="60" src="res/ios/icon-60.png" width="60" />
        <icon height="120" src="res/ios/icon-60@2x.png" width="120" />
        <icon height="180" src="res/ios/icon-60@3x.png" width="180" />
        <icon height="76" src="res/ios/icon-76.png" width="76" />
        <icon height="152" src="res/ios/icon-76@2x.png" width="152" />
        <icon height="72" src="res/ios/icon-72.png" width="72" />
        <icon height="144" src="res/ios/icon-72@2x.png" width="144" />
        <icon height="87" src="res/ios/icon-87.png" width="87" />
        <icon height="29" src="res/ios/icon-small.png" width="29" />
        <icon height="58" src="res/ios/icon-small@2x.png" width="58" />
        <icon height="50" src="res/ios/icon-50.png" width="50" />
        <icon height="100" src="res/ios/icon-50@2x.png" width="100" />
        <icon height="40" src="res/ios/icon-40.png" width="40" />
        <icon height="80" src="res/ios/icon-40@2x.png" width="80" />
        <icon height="120" src="res/ios/icon-40@3x.png" width="120" />
        <splash height="480" src="res/ios/Default.png" width="320" />
        <splash height="960" src="res/ios/Default@2x.png" width="640" />
        <splash height="1136" src="res/ios/Default-568h@2x.png" width="640" />
        <splash height="1334" src="res/ios/Default-667h@2x.png" width="750" />
        <splash height="2208" src="res/ios/Default-Portrait-736h@3x.png" width="1242" />
        <splash height="1242" src="res/ios/Default-Landscape-736h@3x.png" width="2208" />
        <splash height="1024" src="res/ios/Default-Portrait.png" width="768" />
        <splash height="768" src="res/ios/Default-Landscape.png" width="1024" />
        <splash height="2048" src="res/ios/Default-Portrait@2x.png" width="1536" />
        <splash height="1536" src="res/ios/Default-Landscape@2x.png" width="2048" />
    </platform>
    <platform name="android">
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi.png" />
        <icon density="fr-xxhdpi" src="res/android/fr-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi.png" />
        <splash density="ldpi" src="res/android/ldpi-splash.png" />
        <splash density="mdpi" src="res/android/mdpi-splash.png" />
        <splash density="hdpi" src="res/android/hdpi-splash.png" />
        <splash density="xhdpi" src="res/android/xhdpi-splash.png" />
        <splash density="xxhdpi" src="res/android/xxhdpi-splash.png" />
        <splash density="xxxhdpi" src="res/android/xxxhdpi-splash.png" />
    </platform>
    <engine name="android" spec="~4.1.1" />
    <engine name="ios" spec="~3.9.2" />
    <plugin name="cordova-plugin-inappbrowser" spec="https://git-wip-us.apache.org/repos/asf/cordova-plugin-inappbrowser.git" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-media" spec="~2.2.0" />
    <plugin name="com.bunkerpalace.cordova.YoutubeVideoPlayer" spec="https://github.com/Glitchbone/CordovaYoutubeVideoPlayer.git" />
    <plugin name="cordova-plugin-device" spec="~1.1.1" />
</widget>
