<?xml version='1.0' encoding='utf-8'?>
<widget id="io.onsen.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <preference name="orientation" value="portrait" />
    <name>FTC Mobile App</name>
    <description>
        App for referring physicians of the UCSF Fetal Treatment Center
    </description>
    <author email="colin.fahrion@ucsf.edu" href="http://fetus.ucsfmedicalcenter.org">
        Colin Fahrion
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
