<ons-page ng-controller="GuidelineDetailCtrl">

	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button class="toolbar-button--quiet" ui-sref="^">
				<ons-icon class="ion-ios-arrow-back ons-back-button__icon"></ons-icon>
				Back
			</ons-toolbar-button>
		</div>
		<div class="center">{{guideline.title}}</div>
	</ons-toolbar>
  <p>
    {{guideline.intro}}
  </p>
	<ons-list modifier="inset" style="margin-top: 10px">
		<ons-list-item class="item" ng-repeat="group in guideline.guide" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
					<header>
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
						<strong>{{group.content}}</strong>
					</header>
          <ons-list modifier="inset">
        		<ons-list-item class="item" ng-repeat="list in group.children" class="item-accordion" ng-show="isGroupShown(group)">
        		    {{list.content}}
                <ons-list modifier="inset">
              		<ons-list-item ng-repeat="sublist in list.children" class="item-sublist">
              		    {{sublist.content}}
              		</ons-list-item>
                </ons-list>
        		</ons-list-item>
          </ons-list>
		</ons-list-item>
  </ons-list>

</ons-page>
