<ons-page ng-controller="GuidelineDetailCtrl" class="guideline-detail">
    <ons-toolbar>
		<div class="left"><img src="img/ftc-logo.png" class="logo" height="44" width="210"/></div>
	 	<div class="right">
		 <a href="tel:18007933887" class="contact-btn"><i class="icon ion-ios-telephone button"></i><span class="phone-number">1-800-RX-FETUS</span></a>
		</div>
	</ons-toolbar>

	<header class="page-header">
		<ons-toolbar-button class="toolbar-button--quiet back-button" ui-sref="^">
			<ons-icon class="ion-ios-arrow-back ons-back-button__icon"></ons-icon>Back
		</ons-toolbar-button>
		<h1>{{guideline.title}}</h1>
	</header>

	<div class="intro" ng-bind-html="guideline.intro | nl2p" updatelinks></div>
	<ons-list modifier="inset" style="margin-top: 10px">
		<ons-list-item class="item" ng-repeat="group in guideline.guide" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
					<header>
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
						<strong>{{group.content}}</strong>
					</header>
          <ons-list modifier="inset">
        		<ons-list-item class="item" ng-repeat="list in group.children" class="item-accordion" ng-show="isGroupShown(group)">
					<div class="intro" ng-bind-html="list.content" updatelinks></div>
                <ons-list modifier="inset">
              		<ons-list-item ng-bind-html="sublist.content" ng-repeat="sublist in list.children" class="item-sublist item" updatelinks>
              		</ons-list-item>
                </ons-list>
        		</ons-list-item>
          </ons-list>
		</ons-list-item>
  </ons-list>

</ons-page>
