<ons-page class="news">
	<ons-toolbar>
		<div class="left"><img src="img/ftc-logo.png" class="logo" height="44" width="210"/></div>
	 	<div class="right">
		 <a href="tel:18007933887" class="contact-btn"><i class="icon ion-ios-telephone button"></i><span class="phone-number">1-800-RX-FETUS</span></a>
		</div>
	</ons-toolbar>
	<header class="page-header"><h1>Updates</h1></header>
	<ons-list ng-controller="NewsCtrl" ng-init="init()">
		<ons-list-item class="item" ng-repeat="entry in entries"  >
			<h2 class="item-title">{{entry.title}}</h2>
			<div class="entry-content" ng-bind-html="entry.description" updatelinks></div>
			<!--<div class="read-more-link"><a href="#" ng-click="readmore(entry,event)">Read More</a></div>-->
		</ons-list-item>
	</ons-list>
</ons-page>
